<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kyobo.server.mapper.BookingMapper">

  <insert id="insert" useGeneratedKeys="true" keyProperty="bookingId" keyColumn="booking_id">
    INSERT INTO bookings (user_id, movie_id, screening_id)
    VALUES (#{userId}, #{movieId}, #{screeningId})
  </insert>

</mapper>
