<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kyobo.server.mapper.MovieMapper">
  <select id="findAllWithGenres" resultType="com.kyobo.server.entity.MovieListItem">
    SELECT m.movie_id,
           m.title,
           COALESCE(
             STRING_AGG(DISTINCT g.genre_name, ', ' ORDER BY g.genre_name),
             '미분류'
           ) AS genres
    FROM movies m
    LEFT JOIN movie_genres mg ON m.movie_id = mg.movie_id
    LEFT JOIN genres g ON mg.genre_id = g.genre_id
    WHERE EXISTS (
        SELECT 1
        FROM screenings s
        WHERE s.movie_id = m.movie_id
        AND (s.screening_date + s.start_time) >= CURRENT_TIMESTAMP
    )
    GROUP BY m.movie_id, m.title
    ORDER BY m.movie_id ASC
  </select>

  <select id="findAll" resultType="com.kyobo.server.entity.Movie">
    SELECT movie_id,
           title,
           running_time
    FROM movies
    ORDER BY movie_id ASC
  </select>

  <select id="findById" resultType="com.kyobo.server.entity.Movie">
    SELECT movie_id,
           title,
           running_time
    FROM movies
    WHERE movie_id = #{movieId}
  </select>

  <select id="findMovieDetail"
resultType="com.kyobo.server.entity.MovieDetail" >
      SELECT
        m.movie_id AS "movieId",
        m.title,
        m.director,
        m.running_time AS "runningTime",
        m.release_date AS "releaseDate",
        m.age_limit AS "ageLimit",
        m.content,
        (
            SELECT STRING_AGG(
                DISTINCT g.genre_name,
                ', ' ORDER BY g.genre_name
            )
            FROM movie_genres mg
            JOIN genres g ON mg.genre_id = g.genre_id
            WHERE mg.movie_id = m.movie_id
        ) AS genres
      FROM movies m
      WHERE m.movie_id = #{movieId}
  </select>

  <select id="findAvailableSeatCounts" resultType="com.kyobo.server.entity.MovieSeatCount">
    SELECT s.movie_id AS movieId,
           COUNT(se.seat_id) AS seatCount
    FROM screenings s
    JOIN seats se ON se.room_id = s.room_id
                 AND se.is_active = TRUE
    GROUP BY s.movie_id
  </select>

  <select id="findSoldSeatCounts" resultType="com.kyobo.server.entity.MovieSeatCount">
    SELECT s.movie_id AS movieId,
           COUNT(bs.booked_seat_id) AS seatCount
    FROM booked_seats bs
    JOIN bookings b ON b.booking_id = bs.booking_id
                   AND b.booking_status = 'DONE'
    JOIN screenings s ON s.screening_id = bs.screening_id
    GROUP BY s.movie_id
  </select>

</mapper>
