<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="org.postgresql.Driver"/>
        <property name="url" value="${db.url}"/>
        <property name="username" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
      </dataSource>
    </environment>
  </environments>

  <mappers>
    <mapper resource="mapper/HealthMapper.xml"/>
    <mapper resource="mapper/UserMapper.xml"/>
    <mapper resource="mapper/BookingMapper.xml"/>
    <mapper resource="mapper/MovieMapper.xml"/>
    <mapper resource="mapper/AdminMapper.xml"/>
    <mapper resource="mapper/ScreeningMapper.xml"/>
    <mapper resource="mapper/SeatMapper.xml"/>
    <mapper resource="mapper/BookingMapper.xml"/>
    <mapper resource="mapper/BookedSeatMapper.xml"/>
  </mappers>
</configuration>
